@import "boxicons/css/boxicons.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1c1f24; /* Темный серый фон */
}

.wrapper {
    width: 450px;
    background: #2a2f38; /* Темно-серый с легким оттенком синего */
    color: #e3e3e3; /* Светлый текст для контраста */
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper--forgot-password p{
    font-size: 14px;
    color: #27ae60; /* Зеленый для текста забытых паролей */
}

.wrapper h1{
    margin-bottom: 40px;
    font-size: 36px;
    text-align: center;
    color: #e0e0e0; /* Белый текст заголовка */
}

.wrapper .input-box{
    width: 100%;
    height: 50px;
    margin: 5px 0;
    position: relative;
}

.wrapper label{
    display: block;
    margin-top: 20px;
    color: #e0e0e0; /* Белый для меток */
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2); /* Легкий белый бордер */
    border-radius: 15px;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: #636466; /* Легкий серый для плейсхолдера */
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .btn{
    width: 100%;
    height: 45px;
    background: #27ae60; /* Зеленая кнопка */
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: white; /* Белый текст на кнопке */
    font-weight: 600;
    margin-top: 30px;
    transition: background 0.3s;
}

.wrapper .btn:hover {
    background: #2d9853; /* Темный зеленый при наведении */
}

.wrapper .login-link{
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
}

.login-link p a{
    color: #27ae60; /* Зеленый для ссылки */
    text-decoration: none;
    font-weight: 600;
}

.login-link p a:hover{
    text-decoration: underline;
    color: #2d9853; /* Темный зеленый при наведении */
}

.wrapper .error{
    display: block;
    text-align: left;
    font-size: 12px;
    color: #e74c3c; /* Красный для ошибок */
}

.wrapper .error--login {
    margin-top: 15px;
    text-align: center;
}

.wrapper .reset-password {
    text-decoration: none;
    font-size: 14.5px;
    color: white;
    font-weight: 600;
}

.reset-password a:hover {
    text-decoration: underline;
    color: #2d9853; /* Темный зеленый при наведении */
}

.forgot-pass {
    text-align: center;
}

.wrapper--reset-notice p {
    text-align: center;
    line-height: 1.5;
}

.wrapper--reset-notice h1 {
    font-size: 24px;
    text-align: center;
}

.wrapper--reset-notice .img-container {
    display: flex;
    justify-content: center;
}

.wrapper--reset-notice img {
    width: 200px; /* Настрой размер */
    margin: 10px 0;
}
